.popline {
  min-height: 45px;
  max-width: 340px;
  line-height: 45px;
  position: absolute;
  background: rgba(56, 169, 247, 0.0);
  opacity: 0.95;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0px 10px;
  font-family: "Segoe UI Semilight", Helvetica, "Hiragino Sans GB", sans-serif;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
}

.popline .popline-button {
  color: white;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  min-width: 24px;
  text-align: center;
  display: inline-block;
  height: 45px;
}

.popline .popline-thumbsUp-button {
  background: rgba(112, 173, 71, 1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  width: 48px;
  right: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: width 300ms linear;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Segoe UI Black";
}

.popline .popline-thumbsUp-button:hover {
  width: 100px;
}

.popline-display .popline-thumbsUp-button {
  width: 80px;
  right: 20px;
}

.popline-display .popline-thumbsUp-button:hover {
  width: 130px;
}

.popline .popline-thumbsDown-button {
  background: rgba(255, 45, 45, 1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  width: 48px;
  left: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: width 200ms linear;
  font-family: "Segoe UI Black";
}

.popline-annotation .popline-thumbsDown-button:hover {
  width: 100px;
}

.popline-display .popline-thumbsDown-button {
  width: 80px;
  left: 0px;
}

.popline-display .popline-thumbsDown-button:hover {
  width: 139px;
}

.popline .popline-numThumbsUp-button {
  background: rgba(112, 173, 71, 1);
  box-shadow: 2px 2.0px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  width: 48px;
  left: 0px;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Agency FB";
}

.popline .popline-numThumbsDown-button {
  background: rgba(255, 45, 45, 1);
  box-shadow: 2px 2.0px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  width: 48px;
  left: 48px;
  font-family: "Agency FB";
}

.popline span.suffix{
  display: none;
}

.popline-annotation span.trueIcon {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 11px;
  text-align: left;
}

.popline-annotation span.falseIcon {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 11px;
  text-align: left;
}

.popline-display span.trueIcon {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 11px;
  text-align: left;
}

.popline-display span.falseIcon {
  display: inline-block;
  position: absolute;
  left: 52px;
  top: 11px;
  text-align: left;
}

.popline-display span.numTrue {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 11px;
  text-align: right;
  font-family: "Agency FB";
}

.popline-display span.numFalse {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 11px;
  text-align: left;
  font-family: "Agency FB";
}

.popline .popline-button i {
  color: rgba(255, 255, 255, 1.0);
}

.popline-display .popline-thumbsUp-button .button-selected {
  width: 130px;
}

.popline-display .popline-thumbsDown-button .button-selected {
  width: 139px;
}

.popline .popline-button i.button-disabled {
  color: rgba(180, 180, 180, 0.7);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .popline-annotation .popline-button i {
    padding: 0 10px;
  }

  .popline-display .popline-button i {
    font-weight: normal;
    line-height: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.popline .popline-button .text {
  font-size: 25px;
  line-height: 25px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.popline .popline-button span.text {
  vertical-align: text-top;
}

.popline .popline-nextArrow-button i {
  font-size: 10px;
  padding-left: 13px;
  vertical-align: 15%;
}

.popline .popline-prevArrow-button i {
  font-size: 10px;
  padding-right: 13px;
  vertical-align: 15%;
}

.popline .subbar {
  display: none;
  list-style: none;
  padding: 0;
}

.tc-cancel-cursor {
  cursor: url(chrome-extension://__MSG_@@extension_id__/img/cancel.svg), auto;
}
