/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);*/

@font-face {
  font-family: "Roboto-Condensed";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Slab-Bold";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Slab-Regular";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/RobotoSlab-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto-Condensed";
}

.login-card {
  padding: 20px;
  width: 225px;
  background-color: #F7F7F7;
  margin: -10px -10px;
  border-radius: 5px;
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  color: #357ae8;
  text-align: center;
  font-size: 24px;
  margin-bottom: auto;
}

.login-card button[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

input[type=text], input[type=email], input[type=password] {
  position: relative;
  top: 20px;
  height: 35px;
  font-size: 18px;
  width: 100%;
  font-family: 'Roboto-Condensed';
  padding: 0 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin-bottom: 7px;
  box-sizing: border-box;
}


.login-card input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto-Condensed';
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  position: relative;
  top: 20px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  position: relative;
  top: 20px;
  right:10px;
  text-decoration: none;
  color: #666;
  font-weight: 400;
  font-size:16px;
  text-align: center;
  display: inline-block;
  opacity: 0.5;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.login-close {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#users {
  position: relative; 
  right: -85px;
}

#close {
  position: relative; 
  top: -280px;
  right: -110px;
}

#login-info {
  font-weight: 100;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto-Condensed';
  opacity:0.5;
}

/*sign up page */
.signup-card {
  padding: 20px;
  width: 225px;
  background-color: #F7F7F7;
  margin: -10px -10px;
  border-radius: 5px;
  overflow: hidden;
}

.signup-card h1 {
  font-weight: 100;
  color: #357ae8;
  text-align: center;
  font-size: 24px;
  margin-bottom: auto;
}

.signup-card button[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.signup {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto-Condensed';
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.signup-submit {
  position: relative;
  top: 20px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.signup-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.signup-card a{
  width: 95%;
  display: block;
}

.signup-card a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: #666;
  font-weight: 400;
  font-size:18px;
  text-align: right;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.signup-card a:hover {
  opacity: 1;
}

#signup-info {
  width: 100%;
  font-weight:100;
  text-align: center;
  font-size: 18px;
  opacity:0.5
}

.info p{
  display: block;
  -webkit-margin-before: 0em;
}

/*Welcome page*/
.welcome-card{
  padding: 20px;
  width: 400px;
  background-color: #F7F7F7;
  margin: 0px 0px;
  border-radius: 5px;
  overflow: hidden;
}

.welcome-card h1 {
  font-family: "Roboto-Black";
  font-weight: 100;
  color: #357ae8;
  text-align: center;
  font-size: 35px; 
  margin-bottom: auto;
  margin-top: 10px;
}

.welcome-card p {
  font-weight: 100;
  text-align:center; 
  font-size: 24px;
  position: relative;
  top: 0px;
}

.welcome-card .stat-title {
  position: relative;
  top:10px;
  margin:10px 0px;
  border:0px;
  font-size: 20px;
  opacity:0.5;
  text-align:left;
}

.welcome-card .stat-source{
  font-size: 18px;
  text-align:left;
  margin-top: -10px;
  margin-bottom:20px;
}

.welcome-card .stat-author{
  font-family: "Roboto-Slab-Regular";
  font-size: 14px;
  text-align: right;
  color: #357ae8;
  margin-top: 30px;
  margin-bottom: 50px;
  right: 8px;
}

.welcome-card .stat-text {
  font-family: "Roboto-Slab-Regular";
  text-align: left;
  font-size: 16px;
  margin-bottom: -15px;
}
    

#pop_agree{
  font-size:18px;
  color:#009900;
  position: absolute;
  bottom: 21px;
  left: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#pop_disagree{
  font-size:18px;
  color:#FF0000;
  position: absolute;
  bottom: 21px;
  left: 114px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#pop_retweet{
  position: relative;
  right: -73px;
}

#con_agree{
  position: relative;
  right: -18px;
}

#con_disagree{
  position: relative;
  right: -42px;
}

.stat-goPost{
  position: absolute;
  right: 20px;
  bottom:22px;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 100ms ease;
  color: #357ae8;
}

.stat-goPost:hover{
  cursor:pointer;
  opacity: 1;
}

.stat-goPost i {
  font-size: 10px;
  padding-right: 4px;
}

#con_goPost{
  position: relative;
  right: -60px;
  font-size:0.7em;
  opacity: 0.6;
  text-decoration: underline;
}

#con_goPost:hover{
  position: relative;
  right: -60px;
  cursor:pointer;
  opacity: 1;
}

#retweet_mark{
  color: gray;
  position: relative;
  top: 0px;
  right: -70px;
  font-size:0.8em;
}

.btn-tf {
  font-family: "Roboto-Slab-Bold";
  font-size: 24px;
}

/*thumb button style*/
.btnup {
  color: #009900;
  position: absolute;
  bottom: 20px;
  left: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.btndown {
  color: #FF0000;
  position: absolute;
  bottom: 20px;
  left: 90px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 1px;
}
/*
.btndown:hover{
  color:blue;
  cursor:pointer;
}


*/
/*
.welcome-card p {
  font-weight: 100;
  text-align: center;
  position: relative;
  top: 0px;
}
*/

.welcome-util {
  position: absolute;
  top:10px;
  right:20px;
  width: 100%;
  text-align: right;
  font-size: 12px;
}

#welcome-toggle {
  position:relative ;
  text-align: center;
  /*adjust this for spacing*/
  top: 27px;
  left: 0px;
}

.post-unit{
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position:relative;
  background-color: #FFFFFF;
  border-color: #DEE184;
  border-radius: 2px;
  margin: 0.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: #DDD 0px 1px 2px;
  top:15px;
}

.welcome-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  padding: 0 3px;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.welcome-card a:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

#welcome-card .item {
  display: block;
  margin: 12px 0;
}

/*modal style*/
div .modal-body {
  font-size:100%;
  font-style: italic;
  margin-bottom: 5px;
}

div .whole-post-highlight{
  color:red;
}

::-webkit-input-placeholder {
}
